@import "../../styles/variables";

.loader {
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, $bg-color, $primary-color, $bg-color);
  background-size: 600% 100%;
  animation: lineGradient 3s ease infinite;

  @keyframes lineGradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
}