@import "shared/styles/variables";
@import "shared/styles/mixins";

.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 1rem 0;
}

.arrow {
  cursor: pointer;
  color: $border-color;

  &--active {
    color: $secondary-text-color;
  }
}

.number {
  @include flex-center;
  height: 24px;
  width: 24px;
  color: $secondary-text-color;
  font-size: $text-base;
  font-weight: $font-medium;

  margin: 0 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: transparent;

  &--active {
    background-color: $border-color;
    //  color: $primary-text-color;
  }
}