@import "shared/styles/variables";
@import "shared/styles/mixins";

.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login__btnWrapper {
}

.login__breaker {
  margin: 1.5rem 0;
  border-top: 1px solid $border-color;
}

.login__footer {
  color: $secondary-text-color;
  text-align: center;
  margin-top: 1.5rem;
  font-weight: $font-normal;

  span {
    cursor: pointer;
    @include transition;

    &:hover {
      color: $primary-text-color;
    }
  }
}

.login__passReset {
  cursor: pointer;
  margin-top: -0.5rem;
  color: $secondary-text-color;
  text-align: right;
  @include transition;

  &:hover {
    color: $primary-text-color;
  }
}