@import "shared/styles/variables";
@import "shared/styles/mixins";

.item {
  padding: 0.75rem 1.5rem;
  font-weight: $font-semibold;

  &:hover {
    background: $bg-neutral;
  }

  @include transition;
}